@media (max-width: 768px) {
    .custom-navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;;
    }
    .carousel-caption {
        font-size: 14px; /* Adjust font size for better visibility on small screens */
        padding: 10px; /* Add some padding for better readability */
        background-color: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent background for contrast */
        bottom: 20px; /* Adjust the position if needed */
      }
    
      .carousel-caption h5 {
        font-size: 16px; /* Adjust heading size */
      }
    
      .carousel-caption p {
        font-size: 12px; /* Adjust paragraph size */
      }
  }
