@media (max-width: 768px) {
    .custom-navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;;
    }
    .carousel-caption {
        font-size: 14px; 
        padding: 10px; 
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 20px; 
      }
    
      .carousel-caption h5 {
        font-size: 16px; 
      }
    
      .carousel-caption p {
        font-size: 12px;
      }
      #carousel-control-prev, 
      #carousel-control-next{
        display: none !important;
      }
      #services {
        grid-template-columns: 1fr
    }
  }
