*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.custom-navbar{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
    font-weight: bold;
}
.custom-navbar .navbar-nav .nav-link{
    color:  #fff !important;
    transition: color 0.3s ease;
}
.custom-navbar .navbar-nav .nav-link:hover{
    color: #6a0a0f !important;
}
.logo{
    width: 100px;
}
.carousel-inner .carousel-item{
    height: 100vh; 
}
.carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover !important;
    object-position: center !important;
    position: relative;
    z-index: 0;
}
.carousel-caption {
    position: absolute;
    top: 63%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70% !important; 
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    
}
.carousel-caption h5, 
.carousel-caption p {
    margin: 0;
    padding: 0;
    color: #e8e8e8;
    font-weight: bold;
    text-shadow: 0 0 1px #333;
}
.carousel-caption h5{
    font-size: 4.3rem;
}
.carousel-caption p {
    padding: 2% 10% 0 10%;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 2%;
}
.carousel-inner .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #03071e);
    z-index: 1;
}
.carousel-caption {
    z-index: 2; 
}
.banner-btn a{
	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: #fff;
	font-weight: bold;
	border: 0.5px solid #fff;
	position: relative;
	z-index: 1;
	transition: color 0.5s;
	text-align: center;
}
.banner-btn a span{
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #6a0a0f;
	z-index: -1;
}
.banner-btn a:hover{
	border: 0.5px solid #6a0a0f;
	transition: color 0.5s;
}
.banner-btn a:hover span{
	width: 100%;
	transition: 0.5s;
}
.banner-btn a:hover {
	color: #fff;
	transition: color 0.5s;
}
.navbar-toggler {
    outline: none; 
    box-shadow: none;
  }
  .navbar-toggler:focus {
    outline: none; 
    box-shadow: none;
  }
  #about-us{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgray;
  }
  #about-us h2{
    color: #6a0a0f;
    font-size: 2.3rem; 
    font-weight: bold;
    text-shadow: 0 0 3px darkgray;
  }
#about-us-item{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
#about-us h5{
    color: #6a0a0f;
    font-size: 1.8rem;
    font-weight: bold;
}
#about-us p{
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
.full-height-img{
    height: 100% !important; 
    object-fit: cover; 
    width: 100%; 
}
.card-holder {
	min-width: 300px;
    padding: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.flip-card {
    width: 100%; 
    max-width: 300px;
	min-width: 300px; 
    height: 350px;
    margin: 0 auto; 
    perspective: 1000px;
}

.flip-card-inner{
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.front, .back{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	position: absolute;
	backface-visibility: hidden;
}
.flip-card:nth-child(1) .front{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://github.com/chiscookeke11/Lightning-Express/blob/main/data/pd.jpg?raw=true);
}

.front{
	background-color: #6a0a0f;
	background-size: cover;
	background-position: center;
	padding: 60px 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #fff;
}
.front h2{
	font-weight: 500;

}

.back{
	background: #6a0a0f;
	display: flex;
	justify-content: center;
	text-align: initial;
	align-items: center;
	color: #e8e8e8;
	padding: 20px 20px;
	transform: rotateY(180deg);
}


.back p{
	font-size: 14px;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
#services{
		width: 100%;
		padding: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		margin: 0 auto; 
		overflow: hidden;	
}




























  














